<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/board.css}">
<head>
<body>
    <!-- HEADER -->
    <div th:insert="common/header.html" id="header"></div>

    <a th:href="@{/post}">write</a>

    <table>
        <thead>
        <tr>
            <th class="one wide">no</th>
            <th class="ten wide">title</th>
            <th class="two wide">author</th>
            <th class="three wide">date</th>
        </tr>
        </thead>
        <tbody>
        <!-- CONTENTS !-->
        <tr th:each="board : ${boardList}"></span>
            <td>
                <span th:text="${board.id}"></span>
            </td>
            <td>
                <a th:href="@{'/post/' + ${board.id}}">
                    <span th:text="${board.title}"></span>
                </a>
            </td>
            <td>
                <span th:text="${board.writer}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- FOOTER -->
    <div th:insert="common/footer.html" id="footer"></div>
<body>
</html>
